<div class="container-fluid container-fluid-custom py-md-5 mb-5">
  <main>
    <div class="row py-md-5 text-center justify-content-center">
      <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
        <h1 class="display-2 fw-bold mb-4 position-relative home-title">
          Write your thoughts down as they come to you.
        </h1>
        <% if (user) { %>
         <p class="fs-4 mb-4">
            Welcome back <%= user.firstName %>!
         </p>
        <% } else { %>
         <p class="fs-4 mb-4">
            Notes is a simple to use free note taking app made with Node.Js, EJS & MongoDB.
         </p>
        <% } %>

        <% if (user) { %>
         <a href="/dashboard" class="btn btn-primary btn-lg">Go to Dashbord</a>
        <% } else { %>
         <a href="/auth/google" class="btn btn-primary btn-lg">Try Notes, it's FREE!</a>
        <% } %>
        <button class="btn btn-secondary btn-lg" id="install-btn">Install the NodeNotes App</button>
      </div>
    </div>
  </main>
</div>